<header>
  <img
    src="assets/img/me.jpg"
    alt="Dener Troquatte - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>ISAAC NYAABILA</h1>
</header>

<aside>
  <div class="container">
    <p>Angular | Certified AWS Cloud Practitioner</p>
    <p>Accra, Ghana</p>
    <p>
      A computer science graduate looking for an opportunity to advance my knowledge in frontend especially the Angular framework. I am also a Certified AWS Cloud Practitioner through Amalitech
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/NYAABILA ISAAC.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/isaac-nyaabila-b94064176/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5511xxxxxxxxx&text=Ol%C3%A1%20Dener,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Send a message to:</strong>
            <p>WhatsApp: (+233) 54 150 9163</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:dener@vidafullstack.com.br" target="_blank">
            <strong>Send an e-mail to:</strong>
            <p>nyaabilai&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
